{{!-- create tempalte send otp --}}

<!DOCTYPE html>
<html>
<head>
    <title>Send OTP</title>
</head>
<body>
    <h1>Send OTP</h1>
    <p>Hi, {{email}}</p>
    <p>Your OTP is: {{otp}}</p>
</body>
</html>