<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirm</title>
</head>

<body style="
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  ">
  </style>
  <div style="background-color: #fff;">
    <div style="padding: 40px 20px; border: 1px solid #b0b1b1; height: 100%">
      <div style="
            display: flex;
        ">
        <img
          src="https://res.cloudinary.com/ddwjnjssj/image/upload/v1697131521/images/mailchimp/ads_mail/logoCircle.png"
          alt="logo" style="width: 50px; height: 50px" ; border-radius: 5px; />
        <h1 style="
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            margin-left: 12px;
            color: #000;
            margin-top: 15px;
          ">
          CHÀO MỪNG BẠN ĐẾN VỚI Jobs!
        </h1>
      </div>
      <div style="padding: 24px 0">
        <div style="
            background-color: #81a9e6;
            padding: 16px 0px;
          ">
          <div style="padding: 0 8px;">
            <p style="text-align: center; width: 100%; color: #000">
              Bạn vừa thực hiện quên mật khẩu bằng tài khoản email <a
                style="color: #000; font-weight: 600;">{{email}}</a>.
            </p>
          </div>
          <div style="padding: 0 8px;">
            <p style="text-align: center; width: 100%; color: #000">
              Link xác minh đăng nhập của bạn là:
            </p>
            <p style="text-align: center; color: red; font-weight: 600;">
              Vui lòng click vào link bên dưới để xác minh tài khoản của bạn:
            </p>
          </div>
        </div>
        <div style="
            background-color: #f3f8fb;
            padding: 12px 10px;">
          <div style="text-align: center; font-style: italic;">
            {{link}}
            </span>
          </div>
        </div>
        <div style="
            padding: 16px 0px;
          ">
          <p style="text-align: center; width: 100%; color: #000;">
            Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email này.
          </p>
        </div>
      </div>
      <div style="border-top: 1px solid #b0b1b1; padding: 24px">
        <div style="display:flex;">
          <div style="margin: 0 auto; display: flex;">
            <a href="https://www.facebook.com/">
              <img src="https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/ri_facebook-fill.png"
                alt="fb-logo" width="28px" height="28px" />
            </a>
            <a href="https://" style="margin-left: 12px;">
              <img src="https://hi-job-app-upload.s3.ap-southeast-1.amazonaws.com/images/mailchimp/mdi_link-variant.png"
                alt="" width="28px" height="28px" style="" />
            </a>
          </div>
        </div>
        <p style="
            text-align: center;
            margin: 20px 0;
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #575757;
          ">
          Copyright © *2023* *Công ty TNHH Jobs*, All rights reserved.
        </p>
        <div style="text-align: center;">
          <div style="margin: 0 auto;">
            <span style="
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    color: #575757;
                    ">
              Our mailing address is:
            </span>
            <a style="
                        text-decoration: underline;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        color: #575757;
                    "> baotoandd2016@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</body>

</html>